{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <p  class="sign__btn" >
        {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new
            one.
        {% endblocktrans %}
    </p>
    <form method="post" class="sign__form">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="sign__btn" style="color: white" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        <a href="index.html" class="sign__logo">
            <img src="{% static 'img/logo.svg' %}" alt="">
        </a>
        <div class="sign__group">
            <input type="text" name="email" class="sign__input" placeholder="Your name">
        </div>

        <button class="sign__btn" type="submit">{% trans 'Reset password' %}</button>
    </form>
{% endblock %}


{# This is used by django.contrib.auth #}
