<div class="col-12">
    {% if page_obj.has_other_pages %}
        <ul class="paginator">
            {% if page_obj.has_previous %}
                <li class="paginator__item paginator__item--prev">
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="icon ion-ios-arrow-back"></i></a>
                </li>
            {% endif %}
            {% for paginato in page_obj.paginator.page_range %}
                <li class="paginator__item paginator__item--{% if page_obj.number == paginato %}active{% endif %}"><a
                        href="?page={{ paginato }}">{{ paginato }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="paginator__item paginator__item--next">
                    <a href="?page={{ page_obj.next_page_number }}"><i class="icon ion-ios-arrow-forward"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>